//package.cross-nexus.com/repository/cross-sdk-unity/:_auth=b25ib2FyZGluZzp0ZXN0IUAzNA==
//package.cross-nexus.com/repository/cross-sdk-unity/:always-auth=true
//package.cross-nexus.com/repository/cross-sdk-unity/:email=probe@to.nexus
